{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PlusUltra</title>
  <link type="text/css" href="{% static 'course/css/style.css' %}" rel="stylesheet">
</head>
<body>
  <header>
    <div id="logo" onclick="slowScroll('#reg')"/>
      <a href="#">PlusUltra</a>
  </header>

  {% block сats %}
  {% endblock %}


  {% block courses %}
  {% endblock %}
</body>
